<a href="https://colab.research.google.com/github/verryp/ANN-Logical_Operator/blob/master/Perceptron_and_Logical_Operator_(NOT%2C_AND%2C_OR%2C_XOR%2C_NAND%2C_XNOR).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [41]:
import numpy as np
import pandas as pd

def step_function(value):
  if value >= 0:
    return 1
  else:
    return 0
  
def perceptron(x, weight, bias):
  v = np.dot(weight, x) + bias
  y = step_function(v)
  
  return y

def NOT_perceptron(x):
  return perceptron(x, weight=-1, bias=0.5)

print('NOT(1) = ', NOT_perceptron(1))
print('NOT(0) = ', NOT_perceptron(0))

NOT(1) =  0
NOT(0) =  1

In [0]:

input_binarylogics = np.array([[0, 0], [0, 1], [1, 0], [1, 1]])

In [43]:
# Logika Fungsi AND
def AND_perceptron(x):
  w = np.array([1,1])
  b = -1.5
  return perceptron(x, w, b)

output_AND = []
  
  # lakukan loop untuk seluruh data yang ada dalam input_binarylogics
for input in input_binarylogics:
  result = AND_perceptron(input)
  output_AND.append(result)
        
# tampilkan output
output_binarylogics_AND = np.array(output_AND)

AND_table = pd.DataFrame({'Input 1':input_binarylogics[:,0], 
                          'Input 2':input_binarylogics[:,1],
                          'Output':output_binarylogics_AND})

AND_table

   Input 1  Input 2  Output
0        0        0       0
1        0        1       0
2        1        0       0
3        1        1       1

In [44]:
# Logika fungsi OR
def OR_perceptron(x):
  w = np.array([1,1])
  b = -0.5
  return perceptron(x, w, b)

output_OR = []
  
  # lakukan loop untuk seluruh data yang ada dalam input_binarylogics
for input in input_binarylogics:
  result = OR_perceptron(input)
  output_OR.append(result)
        
# tampilkan output
output_binarylogics_OR = np.array(output_OR)

OR_table = pd.DataFrame({'Input 1':input_binarylogics[:,0], 
                          'Input 2':input_binarylogics[:,1],
                          'Output':output_binarylogics_OR})

OR_table

   Input 1  Input 2  Output
0        0        0       0
1        0        1       1
2        1        0       1
3        1        1       1

In [45]:
# Logika fungsi XOR


def XOR_perceptron(x):
    gate_1 = AND_perceptron(x)
    gate_2 = NOT_perceptron(gate_1)
    gate_3 = OR_perceptron(x)
    new_x = np.array([gate_2, gate_3])
    output = AND_perceptron(new_x)
    
    return output
  
output_XOR = []
  
  # lakukan loop untuk seluruh data yang ada dalam input_binarylogics
for input in input_binarylogics:
  result = XOR_perceptron(input)
  output_XOR.append(result)
        
# tampilkan output
output_binarylogics_XOR = np.array(output_XOR)

XOR_table = pd.DataFrame({'Input 1':input_binarylogics[:,0], 
                          'Input 2':input_binarylogics[:,1],
                          'Output':output_binarylogics_XOR})

XOR_table

   Input 1  Input 2  Output
0        0        0       0
1        0        1       1
2        1        0       1
3        1        1       0

In [46]:
# Logika fungsi NAND


def NAND_perceptron(x):
  gate_1 = AND_perceptron(x)
  output = NOT_perceptron(gate_1)
  
  return output
  
output_NAND = []
  
  # lakukan loop untuk seluruh data yang ada dalam input_binarylogics
for input in input_binarylogics:
  result = NAND_perceptron(input)
  output_NAND.append(result)
        
# tampilkan output
output_binarylogics_NAND = np.array(output_NAND)

NAND_table = pd.DataFrame({'Input 1':input_binarylogics[:,0], 
                          'Input 2':input_binarylogics[:,1],
                          'Output':output_binarylogics_NAND})

NAND_table

   Input 1  Input 2  Output
0        0        0       1
1        0        1       1
2        1        0       1
3        1        1       0

In [47]:
# Logika fungsi XNOR


def XNOR_perceptron(x):
  gate_1 = XOR_perceptron(x)
  output = NOT_perceptron(gate_1)
  
  return output
  
output_XNOR = []
  
  # lakukan loop untuk seluruh data yang ada dalam input_binarylogics
for input in input_binarylogics:
  result = XNOR_perceptron(input)
  output_XNOR.append(result)
        
# tampilkan output
output_binarylogics_XNOR = np.array(output_XNOR)

XNOR_table = pd.DataFrame({'Input 1':input_binarylogics[:,0], 
                          'Input 2':input_binarylogics[:,1],
                          'Output':output_binarylogics_XNOR})

XNOR_table

   Input 1  Input 2  Output
0        0        0       1
1        0        1       0
2        1        0       0
3        1        1       1